@import "tailwindcss";
@tailwind utilities;


@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}

@layer components {
  .button {
    @apply text-white font-medium rounded-md py-[5px] px-4 transition-all duration-200 shadow-sm hover:shadow-md focus:outline-none focus:ring-2 focus:ring-green-500;
  }

  .hover-text:hover {
    color: #f97316;
  }
}

@theme {
  
  --color-first: #B4D600;
  --color-second: #06D001;
  --color-third: #FF0000;
  --color-grayd: #202020;
  --color-gray1: #2f2f2f;
  --color-grayl: #9e9e9e;
  --color-seventh: #16404D;

  --font-modern: poppins;
}

